@model SVEUCILISNA_KNJIZNICA.Models.Knjiga

@{
    ViewBag.Title = "Details";
}

    <html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/94e277c9e1.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Roboto+Slab&display=swap" rel="stylesheet" />
        <style>


            h6 {
                text-align: center;
                padding-top: 10px;
                font-size: 20px;
            }

            .form-control {
                margin: 0 auto;
                float: none;
            }

            .form-group {
                text-align: center;
            }

            .btn-primary {
                background-color: brown;
                border-color: brown;
            }
        .col-sm-4 {
            border-radius: 10px 10px;
            font-family: 'Roboto Slab';
        }
        </style>
    </head>
    <body>

        <div class="jumbotron" style="margin-bottom:0;background-image: url(../../book2.png);height:200px">

        </div>

        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-12" style="background-color:#f4f4d7;">
                    <h2 style="color:#663300;text-align:center;font-family:Cinzel;font-size:50px">Sveučilišna knjižnica u Puli</h2>
                    <h4 style="color:#663300;text-align:center;font-family:Roboto Slab">Sustav za pretragu knjiga Sveučilišne knjižnice u Puli</h4>

                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4 col-centered" style="background-color:#d2a679;">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div>
                                <h2 style="color:#663300">Detalji knjige:</h2>
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Naziv):
                                    </dt>

                                    <dd style="text-align:left;">
                                        @Html.DisplayFor(model => model.Naziv)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Autor):
                                    </dt>

                                    <dd style="text-align:left;">
                                        @Html.DisplayFor(model => model.Autor)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Barkod):
                                    </dt>

                                    <dd style="text-align:left;">
                                        @Html.DisplayFor(model => model.Barkod)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ISBN):
                                    </dt>

                                    <dd style="text-align:left;">
                                        @Html.DisplayFor(model => model.ISBN)
                                    </dd>

                                    <dt>
                                        Godina izdanja:
                                    </dt>

                                    <dd style="text-align:left;">
                                        @Html.DisplayFor(model => model.GodIzdanja)
                                    </dd>

                                </dl>
                            </div>
                            <p>
                            
                                @Html.ActionLink("Uredi", "Edit", new { id = Model.KnjigaID }, new { @class = "btn btn-primary" })
                               <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Knjiga")';return false;"><i class="fas fa-arrow-left"></i> Nazad</button>

                               

                            </p>

                        </div>
                        }


                    </div>

                    <div class="col-sm-4"></div>



                </div>
            </div>
        </div>



    </body>
    </html>
